<!DOCTYPE HTML>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Redesigned Stroke Team internal website!">
        <title>Stroke Website</title>

        <!-- Bootstrap 4.1.3 CSS ONLY-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/jqueryui/jquery-ui.min.css">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/jqueryui/jquery-ui.min.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/timedropper/timedropper.js"></script>

		<!-- Custom CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css">
		<link rel="stylesheet" href="/timedropper/timedropper.css">

    </head>

    <body class="normal-page">

<div class="container-fluid container-offset">

	<% include ./partials/navbar %>

	<%var sheet="1"
	//[week,day,start time,end time,class,building]
	var quarter="Summer 2018"
	%>

	<%var hours=["8am","9am","10am","11am","12pm","1pm","2pm","3pm","4pm","5pm","6pm","7pm","8pm","9pm","10pm","11pm","12am"]%>
	<%var hours_exp=["8:00","9:00","10:00","11:00","12:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00"]%>
	<%var hours_12=["am","am","am","am","pm","pm","pm","pm","pm","pm","pm","pm","pm","pm","pm","pm","am"]%>
	<%var days=["Sunday","Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]%>
	
	<div class = "calendar-container">

		<div class="row row-padding"> 
			<div class="col-4 week-label"> <%=year + ' ' + season%> </div>
			<div class="col-4 week-label text-center"> 
				
				<form>
					<div class="btn-group">
						<%if (numWeeks>1) {%>
							<button type="submit" class="btn btn-outline-light btn-scrl" formmethod="post" formaction="/lscrl"> < </button>
						<%}%>
						&nbsp&nbsp&nbsp&nbsp&nbsp
						<span> W E E K&nbsp&nbsp<%=week%> &nbspof&nbsp  <%=numWeeks%> </span>
						&nbsp&nbsp&nbsp&nbsp&nbsp
						<%if (numWeeks>1) {%>
							<button type="submit" class="btn btn-outline-light btn-scrl" formmethod="post" formaction="/rscrl"> > </button>
						<%}%>
					</div>
				</form>

			</div>
			<div class="col-4 week-label"> </div>
<!-- 			<div class="col-4 week-label text-center">
				
			</div> 
			<div class="col-4 week-label"></div> -->
		</div>
		
		<div class="row calendar-top row-padding">
			<div class="zero-padding calendar-bottom-border">
				<div class="row calendar-hour-element row-padding">
					<div class="col text-right zero-padding">

					</div>
				</div>
			</div>
			<div class="col zero-padding">
				<div class="row row-padding calendar-element-left calendar-day-header text-center">
					<div class="col zero-padding text-center">
						<span class="days"><b><%=days[0]%></b></span>
					</div>
				</div>
			</div>
			
			<%for(j=1;j<7;j++) {%>
				<div class="col zero-padding">
					<div class="row row-padding calendar-day-header">
						<div class="col zero-padding text-center">
							<span class="days"><b><%=days[j]%></b></span>
						</div>
					</div>
				</div>
			<%}%>
		</div>


		<div class="row calendar-outer row-padding" id="calendar-outer-box">
			<div class="zero-padding calendar-bottom-border">
				<!-- for empty 8am-->
				<div class="row calendar-offset row-padding">
					<div class="col text-right zero-padding">
						<span class="text-right"></span>
					</div>
				</div>
				<% for(i=1; i<16;i++) {%>
					<div class="row calendar-hour-element row-padding">
						<div class="col text-right zero-padding">
							<span class="text-right hours"><%=hours[i]%></span>
						</div>
					</div>
				<%}%>

				<div class="row row-padding">
					<div class="col text-right zero-padding calendar-bottom-hour-element">
						<span class="hours" >12am</span>
					</div>
				</div>
			</div>

			<div class="col zero-padding">
				<%for(i=0; i<16;i++) {%>
					<div class="row calendar-element calendar-element-left row-padding">
					</div>
				<%}%>
			</div>

			<%for(j=1;j<7;j++) {%>
				<div class="col zero-padding">
					<%for(i=0;i<16;i++) {%>
						<div class="row calendar-element row-padding">
						</div>
					<%}%>
				</div>
			<%}%>

<!-- 			<div class = "overlay-div" id = "div-1" style= "top: calc(59px + 30px + 14 * 9.63% + 2px); left: height: calc(9.63% * 2 - 4px); min-height:25px;">
				
				my name jeff
			</div> -->
			<script>
				//data is in structure [[color,day,sHour,duration,comments]]
				<%//var data=[["g",0,0,1,"Hi"],["g",1,2,2,"sup fam"],["r",0,4,2,"been better bro :|"],["r",5,5,1,"...same :("]]%>
				//var data=[["g",0,0,1,"Hi this is jeff and i am just trying to take up space"],["g",1,2,2,"sup fam, i am not jeff but i am also trying to take up space"],["r",0,4,2,"I have been better bro and I am trying to take up space"],["r",5,5,1,"...same :( But wait i need to take up more space"],["g",1,6,1,"Hi this is jeff and i am just trying to take up space"],["g",2,8,1,"Hi this is jeff and i am just trying to take up space"],["r",3,9,1,"Hi this is jeff and i am just trying to take up space"],["g",4,11,1,"Hi this is jeff and i am just trying to take up space"],["g",5,12,1,"Hi this is jeff and i am just trying to take up space"],["g",6,14,1,"Hi this is jeff and i am just trying to take up space"]]
				var hours_exp=["8:00","9:00","10:00","11:00","12:00","1:00","2:00","3:00","4:00","5:00","6:00","7:00","8:00","9:00","10:00","11:00","12:00"]
				var hours_12=["am","am","am","am","pm","pm","pm","pm","pm","pm","pm","pm","pm","pm","pm","pm","am"]

				var data = <%-JSON.stringify(data)%>;

				var timeString = function(start, dur) {
					sHr = parseInt(start.split(':')[0]);
					sMin = parseInt(start.split(':')[1]);

					durHr = parseInt(dur.split(':')[0]);
					durMin = parseInt(dur.split(':')[1]);

					eHr = Math.floor( (sHr*60 + sMin + durHr*60 + durMin)/60 );
					eMin = (sHr*60+sMin + durHr*60+durMin)%60;

					sMeri = 'am';
					eMeri = 'am';

					if (sHr > 12 ){
						if (sHr<24) {
							sMeri = 'pm'
						}
						sHr-=12
					}

					if (eHr > 12 ){
						if (eHr<24) {
							eMeri = 'pm'
						}
						eHr-=12
					}

					sMinStr = ''+sMin;
					eMinStr = ''+eMin;

					if (sMin<10){
						sMinStr = '0' + sMinStr;
					}
					if (eMin<10){
						eMinStr = '0' + eMinStr;
					}

					// console.log(sHr);
					// console.log(sMin);
					// console.log(eHr);
					// console.log(eMin);
					// console.log(dur);


					return ''+sHr + ':' + sMinStr + sMeri + '-' + eHr + ':' + eMinStr + eMeri; 
				}


				for(i=0; i<data.length;i++) {
					var comment = data[i][4];
					var hourStr = timeString(data[i][2],data[i][3]);
					var innerString = '<div class="container overlay-box"><p class="overlay-time"><b>' + hourStr + '</b></p><div class="overlay-comment">' + comment + '</div></div>';
					data[i][4] = innerString;
				}

				for(i=0; i<data.length;i++) {
					sTime = parseInt(data[i][2].split(':')[0]) + parseInt(data[i][2].split(':')[1])/60;
					dur = parseInt(data[i][3].split(':')[0]) + parseInt(data[i][3].split(':')[1])/60;
					make_overlay_div(i,data[i][0],parseInt(data[i][1]),sTime,dur,data[i][4],data[i][5]);
				}

				$('[id^="expand"]').click(function() {
					var div_num = parseInt($(this)[0].id.replace(/[^\d\.]/g, ''));
					var comment = ($(".overlay-comment")[div_num]).textContent;
					var hour = ($(".overlay-time")[div_num]).textContent
					expand_div(hour,comment);
				});

				$('.overlay-div').dblclick(function() {
					var div_num = parseInt($(this)[0].id.replace(/[^\d\.]/g, ''));
					var comment = ($(".overlay-comment")[div_num]).textContent;
					var hour = ($(".overlay-time")[div_num]).textContent
					console.log(comment);
					console.log(hour);
					// alert(comment);

					expand_div(hour,comment);
				});

			</script>
		</div>
	</div>

	<div class="row" style="min-width: 852px;">
		<div class="col-6 text-center pref-form">
		<!-- green -->
			<span class="gr-form-title"><b>Preferred Times</b></span>
			<form class="green-time-form" method = "post" action="/green_submit">
				<div class = "row">
					<div class="col-6">
						
						<div class="form-group form-inline">
							<label class="ml-auto day-label" style="margin-top: 5px">Day</label>
							<select id="green-day" name="selectDay" class="mr-auto form-control day-select"> 
								<option>Sunday</option> <option>Monday</option> <option>Tuesday</option> <option>Wednesday</option> <option>Thursday</option> <option>Friday</option> <option>Saturday</option>
							</select>
						</div>

					 	<div class="form-group form-inline dropdown-times">
			        		<label class="ml-auto"style="margin-top: 10px" for="green-start-time">Start Time</label>
<!-- 			        		<select class="mr-auto form-control" id="green-start-time">
			        			<%// for(i=0;i<hours.length-1;i++) {%>
			        				<option><%=//hours[i]%></option>
			        			<%//}%>
			        		</select> -->
				        	<input type="text" id="green-start-time" name="startTime" class="mr-auto form-control" style = "width: 90px;">
			        	</div>
				        <div class="form-group form-inline dropdown-times">
				        	<label class="ml-auto" style="margin-right: 5px" for="green-end-time">End Time</label>
<!-- 				        	<select class="mr-auto form-control" id="green-end-time">
				        		<%// for(i=1;i<hours.length;i++) {%>
				        			<option><%=//hours[i]%></option>
				        		<%//}%>
				        	</select> -->
				        	<input type="text" id="green-end-time" name="endTime" class="mr-auto form-control" style = "width: 90px;"> 
				        </div>
					</div>
					<div class="col-6">
					    <div class="form-group">
			    			<textarea class="form-control comments-text-area" name="comments" id="green-comments" placeholder="Comments..."></textarea>
			  			</div>
			  		</div>
		  		</div>

				<script>
					$('#green-comments').on('keydown', function(e){
					    var that = $(this);
					    if (that.scrollTop()) {
					        $(this).height(function(i,h){
					            return h + 15;
					        });
					    }
					});
				</script>

				<div class="row">
					<div class="col mx-auto">
			      		<button type="submit" id="green-submit" class="btn btn-primary">Submit</button>
			    	</div>
			    </div>
		    </form>
		</div>	
		 
		<div class="col-6 text-center pref-form">
		<!-- red -->
			<span class="gr-form-title"><b>Obligations</b></span>
			<form class="red-time-form"  method="post" action="/red_submit">
				<div class = "row">
					<div class="col-6">
						<div class="form-group form-inline">
							<label class="ml-auto day-label" style="margin-top: 5px">Day</label>
							<select id="red-day" name="selectDay" class="mr-auto form-control day-select"> 
								<option>Sunday</option> <option>Monday</option> <option>Tuesday</option> <option>Wednesday</option> <option>Thursday</option> <option>Friday</option> <option>Saturday</option>
							</select>
						</div>

						<div class="form-group form-inline dropdown-times">
				        	<label class="ml-auto" style="margin-top: 10px" for="red-start-time">Start Time</label>
				        	
				        	<!-- <select class="mr-auto form-control" id="shift-type">
				        		<% //for(i=0;i<hours.length-1;i++) {%>
				        			<option><%=//hours[i]%></option>
				        		<%//}%>
				        	</select> -->
				        	<input type="text" id="red-start-time" name="startTime" class="mr-auto form-control" style = "width: 90px;">
				        </div>
				        <div class="form-group form-inline dropdown-times">
 				        	<label class="ml-auto" style="margin-right: 5px" for="red-end-time">End Time</label>
<!--				        	<select class="mr-auto form-control" id="shift-type">
				        		<%// for(i=1;i<hours.length;i++) {%>
				        			<option><%=//hours[i]%></option>
				        		<%//}%>
				        	</select> -->
				        	<input type="text" id="red-end-time" name="endTime" class="mr-auto form-control" style = "width: 90px;">
				        </div>
				    </div>
				    <div class="col-6">
				        <div class="form-group">
		    				<textarea class="form-control comments-text-area" name="comments" id="red-comments" placeholder="Ex: CHEM 14A in CS50..."></textarea>
		  					</div>
		  				</div>
		  		</div>

			    <script> 
					$('#red-comments').on('keydown', function(e){
					    var that = $(this);
					    if (that.scrollTop()) {
					        $(this).height(function(i,h){
					            return h + 15;
					        });
					    }
					});
				</script>
				<div class="row">
					<div class="col mx-auto">
			    		<button type="submit" id="red-submit" class="btn btn-primary">Submit</button>
			    	</div>
			    </div>
			</form>
		</div>  
	</div>

<script>
var error = <%-JSON.stringify(error);%>
if (error!=null){
	alert(error);
}



$(document).bind("mousedown", function (e) {
    
    // If the clicked element is not the menu
    if (!$(e.target).parents(".expanded-div").length > 0) {
        
        // Hide it
        $(".expanded-div").remove();
    }
});

$(window).on('resize', function(){
	draw_styles(data);
});


$( "#dialog-confirm" ).dialog({
    resizable: false,
    height: "auto",
    width: 400,
    modal: true,
    buttons: {
 	    "Delete all items": function() {
        	$( this ).dialog( "close" );
        },
        Cancel: function() {
        	$( this ).dialog( "close" );
        }
    }
   });


$('[id^="delete"]').click(function() {
	var div_num = parseInt($(this)[0].id.replace(/[^\d\.]/g, ''));
	var div_str = "#overlay-form-" + div_num;
	if (confirm("Are you sure you want to delete this event?")) {
    	// $(div_str).remove();
    	console.log(div_str);
    	$(div_str).trigger('submit');

    	//To do, update the fricken database with this removal
	}   
});

// $( '#l-scrl' ).click(function() {
// 	console.log('left scroll');
// 	fetch('/preferences/lscrl', {method: 'POST'}).catch(function(error{
// 		console.log(error);
// 	}))
// })

var checkValidity = function() {
  console.log('input changed');

  //to do, check if the preference time is valid
  var grS = $("#green-start-time").val();
  var grE = $("#green-end-time").val();
  var redS = $("#red-start-time").val();
  var redE = $("#red-end-time").val();



  var grStart = decodeTime(grS);
  var grEnd = decodeTime(grE);
  var redStart = decodeTime(redS);
  var redEnd = decodeTime(redE);
  
  if ( grStart[0] < 8  ||  ( (grEnd[0]*60+grEnd[1]) - (grStart[0]*60+grStart[1]) ) <= 0 ) {
  	$('#green-submit').prop('disabled', true);
  	console.log('disabling green');
  } else {
  	console.log('enabling green');
  	$('#green-submit').prop('disabled', false);
  }

  if ( redStart[0] < 8  ||  ( (redEnd[0]*60+redEnd[1]) - (redStart[0]*60+redStart[1]) ) <= 0 ) {
  	console.log('disabling red');
  	$('#red-submit').prop('disabled', true);
  } else {
  	console.log('enabling red');
  	$('#red-submit').prop('disabled', false);
  }

  
};

var decodeTime = function(time) {
	var hr = parseInt(time.split(' ')[0].split(':')[0]);
    var min = parseInt(time.split(' ')[0].split(':')[1]);
    if (time.split(' ')[1] == 'pm'){
        hr += 12;
    }
    //if 12am, make hour 24
    if ((hr == 12) && (time.split(' ')[1] == 'am')) {
        hr += 12;
    };

    return [hr,min];
}

$( "#green-start-time" ).timeDropper();
$( "#green-end-time" ).timeDropper();
$( "#red-start-time" ).timeDropper();
$( "#red-end-time" ).timeDropper();

</script>

   
<% include ./partials/footer %>