<!DOCTYPE HTML>

<!-- custom header because I'll be using some dank js libraries-->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="description" content="Redesigned Stroke Team internal website!">
        <title>Stroke Website</title>

        <!-- Bootstrap 4.1.3 CSS ONLY-->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="/jqueryui/jquery-ui.min.css">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.min.js" integrity="sha256-XF29CBwU1MWLaGEnsELogU6Y6rcc5nCkhhx89nFMIDQ=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
        <script src="/jqueryui/jquery-ui.min.js"></script>
        <script src="/js/functions.js"></script>
		
        <link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon.png">
        <link rel="icon" type="image/png" sizes="32x32" href="/images/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon-16x16.png">
        <link rel="manifest" href="/images/site.webmanifest">
        <meta name="msapplication-TileColor" content="#da532c">
        <meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">


		<!-- Custom CSS -->
		<link rel="stylesheet" href="/stylesheets/style.css">

    </head>

    <body class="normal-page">
        <!-- <h4>This is from the header!</h4> -->

<div class="container-fluid container-offset">

	<% include ./partials/navbar %>
	<%//var FirstName = "Admin"; var LastName = "Chaudhari"; var Email = "gunvantc@ucla.edu"; var TB_date = "May 1st, 2019";%>
	
	<div class="row">
		<div class="col welcome">
			Welcome, <%=fName%>
		</div>

		<% if (fName == "Admin"){%>
			<div class="col" style="padding-top: 25px;">
			<a href="/admin">Click here for admin pages</a>
		</div>
		<% }%>

	</div>
	
	<%var months = ["Jan", "Feb", "Mar", "Apr", "May", "June", "July", "Aug", "Sep", "Oct", "Nov", "Dec"];
	   var days = ["Sunday", "Monday", "Tuesday", "Wednesday", "Thursday", "Friday", "Saturday"];
	    //make a method that returns prettier dates
	%>
	
	<div class = "row row-outer">
		<div class="col-md-4 text-center">
			<div class = "row">
				<div class="col element-box">
					<h1> My Info </h1>
					<br>
					<p> <strong> Name: </strong> <%=fName%>&nbsp<%=lName%></p>
					<p> <strong> Email: </strong> <%=email%></p>					
					<p> <strong>TB Test Expiration: </strong> <%=months[tb.getMonth()]%> <%=tb.getDate()%>, <%=tb.getFullYear()%></p>
				</div>
			</div>
			<div class = "row">
				<div class="col element-box" style="overflow-x: auto;">
					<h1> Recent Time-Ins </h1>
					<br>
					<table class="table table-striped table-sm">
					  	<thead class="thead-light">
					    	<tr>
						      	<th scope="col">#</th>
						      	<th scope="col">Student</th>
						      	<th scope="col">Time-in</th>
						      	<!-- <th scope="col">Duration</th> -->
					    	</tr>
					  	</thead>
					  	<tbody>
					  		<%for(var i=0; i<recentLogs.length; i++) {%>
							    <tr>
							      	<th scope="row"><%=i+1%></th>
							      	<td><%=recentLogs[i][0]%></td>
							      	<td><%=months[recentLogs[i][1].getMonth()]%>&nbsp<%=recentLogs[i][1].getDate()%>,&nbsp<%=recentLogs[i][1].getHours()%>:<%=(((recentLogs[i][1].getMinutes())/100).toFixed(2))*100%> </td>
							      	<!-- <td><%//if(recentLogs[i][2]) {%> 
							      			<%=//(Math.round(recentLogs[i][2]/1000/3600*4)/4).toFixed(2)%> hrs
							      		<%//} else {%> 
							      			<%=//'-'%>
							      		<%//}%>
							      	</td> -->
							    </tr>
						    <%}%>
					  	</tbody>
					</table>
				</div>
			</div>
		</div>
		<div class="col-md-8 text-center">
			<div class = "row">
				<div class = "col element-box" style="height: 311px">
					<h1> My Hours</h1>
					<div class="row">
						<div class="col-sm-4" style="overflow-x: auto;">
							<!-- Pass in all the data to this site -->
					        <form method="post" action="/update_quarter">
								<div class="form-group form-inline">
						        	<label style="margin-top: 10px; margin-right: 20px;" class="mx-auto" for="quarter">Change Quarter</label>
						        	<br> <br>
						        	<select class="form-control mx-auto" name="updateQuarter">
						        		<%for (var key in quarters) {%>
		        							<option><%=quarters[key].year + ' ' + quarters[key].season%></option>
		        						<%}%>
						        	</select>
						        </div>
					        	<button type="submit" class="btn btn-primary">Update</button>
					    	</form>

						</div>
						<div class="col-sm-8" style="overflow-x: auto; overflow-y: auto">
							<table class="table table-striped table-sm">
							  	<thead class="thead-light">
							    	<tr>
								      	<th scope="col">Date</th>
								      	<th scope="col">Time-in</th>
								      	<th scope="col">Duration</th>
							    	</tr>
							  	</thead>
							  	<tbody id="my-hours-table">
							  		<%for(var key in timeIns) {%>
								    <tr>
								      	<td><%=(timeIns[key].start.getMonth()+1)%>/<%=timeIns[key].start.getDate()%>/<%=timeIns[key].start.getFullYear()%100%></td>
								      	<td><%=timeIns[key].start.getHours()%>:<%=timeIns[key].start.getMinutes()%></td>
								      	<td>
								      		<%if(timeIns[key].dur) {%>
								      			<%=(Math.round(timeIns[key].dur/1000/3600*4)/4).toFixed(2)%> hrs
								      		<%} else {%>
								      			-
								      		<%}%>
								      	</td>
								    </tr>
								    <%}%>
							  	</tbody>
							</table>
						</div>
					</div>
				</div>
			</div>
			<div class = "row">
				<div class = "col element-box">
					<h1> Hour Graph All Time</h1>
					<canvas id="all-time-graph" height="50"></canvas>
				</div>
			</div>
		</div>
	</div>
	
	<div class = "row row-outer">
		<div class="col text-center element-box">
			<h1> All Sudents Hours, <%=curQuarter.year + ' ' + curQuarter.season%></h1>
			<canvas id="all-student-graph" height="40"></canvas>
		</div>
	</div>

	<script>
	<%function getRandomColor() {
	    var letters = '0123456789ABCDEF';
	    var color = '#';
	    for (var i = 0; i < 6; i++ ) {
	        color += letters[Math.floor(Math.random() * 16)];
	    }
	    return color;
	}%>

	Chart.defaults.global.legend.display = false;
	var ctx = document.getElementById("all-time-graph");
	var all_time_graph = new Chart(ctx, {
	    type: 'bar',
	    data: {
	        labels: [<%for (var key in quarterHrs) {%>
	        			'<%=quarterHrs[key]._id.year + ' ' + quarterHrs[key]._id.season%>',
	        		<%}%>
	        	],
	        datasets: [{
	            label: '# of Hours',
	            data: [<%for (var key in quarterHrs) {%>
	        			'<%=(quarterHrs[key].totalTime/1000/3600).toFixed(2)%>',
	        		<%}%>
	        		],
	            backgroundColor: [
	            	<%for (var key in quarterHrs) {%>
	        			'<%-getRandomColor()%>',
	        		<%}%>
	            ],
	            borderColor: [
	     	        <%for (var key in quarterHrs) {%>
	        			'#696969',
	        		<%}%>
	            ],
	            borderWidth: 1
	        }]
	    },
	    options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                },
	                scaleLabel: {
			            display: true,
			            labelString: '# of Hours'
			        }
	            }]
	        }
	    }
	});		

	var gtx = document.getElementById("all-student-graph");
	var all_student_graph = new Chart(gtx, {
	    type: 'bar',
	    data: {
	        labels: [<%for (var key in studentHrs) {%>
	        			'<%=studentHrs[key]._id[0].fName + ' ' + studentHrs[key]._id[0].lName.substring(0,1)%>.',
	        		<%}%>
	        ],
	        datasets: [{
	            label: '# of Hours',
	            data: [<%for (var key in studentHrs) {%>
	        			'<%=(studentHrs[key].totalTime/1000/3600).toFixed(2)%>',
	        		<%}%>
	            ],
	            backgroundColor: [
	            	<%for (var key in studentHrs) {%>
	        			'<%-getRandomColor()%>',
	        		<%}%>
	            ],
	            borderColor: [
	     	        <%for (var key in studentHrs) {%>
	        			'#696969',
	        		<%}%>
	            ],
	            borderWidth: 1
	        }]
	    },
		options: {
	        scales: {
	            yAxes: [{
	                ticks: {
	                    beginAtZero:true
	                },
	                scaleLabel: {
			            display: true,
			            labelString: '# of Hours'
			        }
	            }]
	        }
	    }
	});




	</script>

<% include ./partials/footer %>
